<app-navbar></app-navbar>
<div class="container-fluid contenedor-flex">
  <div class="sidebar">
    <div class="container-volver">
      <i class="far fa-arrow-alt-circle-left volver"></i> Volver
    </div>
    <div class="container">
      <div class="img-container">
        <img class="portadaObra" src="../../../../assets/img/metamorfosisPortada.jpg" alt="Portada de la obra" />
      </div>
      <div class="datosObra-container">
        <p class="titulo">{{ titulo }}</p>
        <ul class="lista-capitulos">
          <li>Capitulo 1: Lorem Ipsum</li>
          <li>Capitulo 2: Lorem Ipsum</li>
          <li>Capitulo 3: Lorem Ipsum</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Fin sidebar-->
  <div class="contenedor-obra">
    <div class="barra-herramientas">
      <i class="fas fa-highlighter"></i>
      <i class="fas fa-sticky-note"></i>
    </div>
    <div class="obra">
      <p class="titulo-obra">Capítulo 1: Lorem Ipsum</p>
      <p class="texto-obra">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
        doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam
        nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi
        cumque consequuntur.
      </p>
      <p class="texto-obra">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illo
        nostrum iusto hic beatae nihil harum? Facere ducimus, sit distinctio
        laboriosam natus voluptatem, nisi quos blanditiis enim consectetur nam
        officia!
      </p>
      <p class="texto-obra">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illo
        nostrum iusto hic beatae nihil harum? Facere ducimus, sit distinctio
        laboriosam natus voluptatem, nisi quos blanditiis enim consectetur nam
        officia!
      </p>
      <p class="texto-obra">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illo
        nostrum iusto hic beatae nihil harum? Facere ducimus, sit distinctio
        laboriosam natus voluptatem, nisi quos blanditiis enim consectetur nam
        officia!
      </p>
    </div>
  </div>
  <!--Fin de contenedor barra de herramientas y texto obra-->
</div>