<div class="fondo">
  <div class="materialContainer">
    ​
    <div class="box">
      ​
      <div class="title">Tu usuario ha sido bloqueado</div>
      ​
      <p></p>
      <p></p>
      <p>
        Lamentablemente tu usuario ha sido bloqueado y por lo tanto no podrás utilizar la plataforma Kafka.
      </p>
      <p>
        Esto puede deberse a que irrespetaste las normas de la comunidad, infringiste politicas de derechos de autor o
        publicaste datos sensibles.
      </p>
      <p>
        Para obtener información sobre como recuperar tu cuenta, envía un correo
        electrónico a <a href="mailto:soporte@kafka.com">soporte@kafka.com</a>
      </p>
      <div class="button login">
        <button type="submit" (click)="cerrarSesion()">
          <span>Cerrar sesión</span> <i class="fa fa-check"></i>
        </button>
      </div>
      ​
    </div>
    ​
  </div>
</div>