.navbar {
  background-color: #734046;
}

.navbar-brand {
  font-family: "Berkshire Swash", cursive;
  font-size: 40px;
}

.navbar img {
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f2efea;
  font-size: 25px;
}

.navbar-light .navbar-brand {
  color: #f2efea;
}

form {
  width: 70%;
}

form > button {
  display: none;
}

form > input {
  width: 100%;
}

.foto-usuario {
  border-radius: 50%;
  width: 50px;
}
